streamlit
langchain
langchain-community
langchain-google-genai
google-api-python-client
faiss-cpu
PyPDF2
huggingface-hub
transformers
sentence-transformers
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
rich==14.0.0
